@import "tailwindcss";

@font-face {
  font-family: "Cupidus";
  src: url("./assets/Cupidus-Extralight.ttf") format("truetype");
}

@theme {
  --body-font-family: "Cupidus", "Roboto", sans-serif;
}

/* Apply the custom properties to the respective elements */
body {
  font-family: var(--body-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body-font-family);
}
